*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.navig-bar{
    height:50px;
    width: 100%;
    display: flex;
    background: rgb(59, 55, 55);
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
}
.logo{
    float: left;
   margin: 15px;
}
.navig-btns ul li{
    display:inline;
    margin: 15px;
    cursor: pointer;
    list-style-type: none;
    position: relative;
    left: 150%;
}

.navig-btns ul li:hover{
    animation: chCOLOR 2s;
}

@keyframes chCOLOR{
    from{
        border-bottom: none;
color: white;
    }
    to{
        border-bottom: 2px solid rgb(173, 169, 169);
color: rgb(173, 169, 169);
    }
}
.code-editor{
    resize: none;
    margin: 15px;
    width: 97%;
    height: 300px;
    border-radius: 15%;
    outline: none;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
}
.js-btns{
    width: 100%;
    justify-content: space-between;
    height:50px;
    align-items: center;
    transform: translateY(-13px);
}
.result-btn , .erase-btn {
margin-left: 30px;
margin-right: 30px;
transform: translateX(160%);
cursor: pointer;
padding: 15px;
color: white;
border: none;
outline: none;
}
.result-btn{
    background: rgb(0, 194, 0);
}
.result-btn:hover{
    background: rgb(0, 219, 0);
}
.erase-btn{
    background: rgb(255, 0, 0);
}
.erase-btn:hover{
    background: rgb(255, 69, 69);
}
.border{
    border-bottom: 2px double black;
    width: 100%;
    transform: translateY(10px);
}
.title-result{
    text-align: center;
    margin-top: 50px;
}
.MyRUSULT{
    width: 80%;
    height: 500px;
    border: black 2px solid;
    margin: auto;
}